Package: jp.rono23.glovepod
Name: GlovePod
Version: 1.2
Architecture: iphoneos-arm
Description: Control music while gloved!
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=glovepodData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=glovepodData
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: rono23 <rono23@gmail.com>
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>=3.0)
Sponsor: thebigboss.org <http://thebigboss.org>
dev: rono23
