Package: jp.rono23.glovepod
Name: GlovePod
Version: 1.1
Architecture: iphoneos-arm
Description: Control music while gloved!
Homepage: http://github.com/rono23/GlovePod
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=GlovePodData
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: rono23 <rono23@gmail.com>
Section: System
Depends: mobilesubstrate, firmware (>=3.0)
dev: rono23
Sponsor: thebigboss.org <http://thebigboss.org>
